
.feature {
    list-style-type: decimal ;
    padding: 0 0 0 23px;
}

.feature li {
    display: list-item;
}

.feature li p {
    display: block;
    margin: 1em;
}

.doll {
    margin: 0 auto 30px;
    width: 165px;
}