
#navigation {
    width: 100%;
    overflow: hidden;
    height: 60px;
    background: #333;
}

.main-nav {
    margin: 0 auto;
    width: 1000px;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 10px 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover {
    background: #CE303E;
}

#navigation li a.current {
    background: #CE303E;
}