#container {
    width: 100%;
}

#header {
    padding: 20px;
    background: #fff;
}

#logo {
    width: 320px;
    margin: 0 0 30px 160px;
}

#content {
    padding: 30px 50px;
    width: 1140px;
    margin: 30px auto 0;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}

#content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer {
    color: #999;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

.main-foot {
    width: 1000px;
    margin: 0 auto;
}