#container {
    width: 100%;
}

#header {
    padding: 20px;
    background: #fff;
}

#logo {
    width: 320px;
    margin: 0 0 30px 160px;
}

#navigation {
    width: 100%;
    overflow: hidden;
    height: 60px;
    background: #333;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 10px 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover {
    background: #666;
}

#navigation li a.current {
    background: #666;
}

#content {
    padding: 30px 50px;
    width: 1140px;
    margin: 30px auto 0;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}

#content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer {
    color: #999;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

.main-nav {
    margin: 0 auto;
    width: 1000px;
}

.main-foot {
    width: 1000px;
    margin: 0 auto;
}