#*
@description: HOME自定义尾部
*#
</div><!-- end #content -->

<div id="footer">
    <p class="ft-12">有关于spider建议或者问题欢迎咨询@阿虫：<a href="mailto:603227937@qq.com">603227937@qq.com</a></p>
</div>
## 配置js
#SLITERAL($ui.js)
#SLITERAL($ui.page.js)
#SLITERAL($ui.page.__script)
</body>
</html>