#*
@description: HOME自定义头部
*#
<!doctype html>
<html>
    <head>
        <meta charset="$ui.charset" />
        <meta name="keywords" content="$ui.keywords" />
        <meta name="description" content="$ui.description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>$ui.page.title</title>
    	## 配置css
        #SLITERAL($ui.css)
        #SLITERAL($ui.page.css)
        #SLITERAL($ui.page.__style)
    </head>
    <!--[if lt IE 7]><body class="ie6"><![endif]-->
    <!--[if IE 7]><body class="ie7"><![endif]-->
    <!--[if IE 8]><body class="ie8"><![endif]-->
    <!--[if IE 9]><body class="ie9"><![endif]-->
    <!--[if !IE]><!--><body><!--<![endif]-->
    <div id="container">

        <div id="header">
            <h1 id="logo">
                <span class="ft-30 ft-bold">$!ui.page.logo</span> -- <span class="ft-14">前端本地开发脚手架</span>
            </h1>
        </div>

        <div id="navigation">
            <div class="main-nav">
                <ul>
                    <li><a href="/" #if($!ui.module == "home")class="current"#end>首页</a></li>
                    <li><a href="#">下载及使用</a></li>
                    <li><a href="#">开发规范</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </div>
        </div>

<div id="content">